@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Roboto&display=swap');

@media screen and (min-width:300px) and (max-width:1024px) {
    :root {
        --main-text-font:'Bubblegum Sans', cursive;
        --secondary-text-font: 'Roboto', sans-serif;

        /*        !*First Palette*!
                --main-theme-color: #78ae31;
                --secondary-theme-color: #e246a5;
                --btn-hover-color: #7f1bc3;
                --main-font-color: #fff;*/

        /*        !*Second Palette*!
                --main-theme-color: #007d6b;
                --secondary-theme-color: #f96171;
                --main-font-color: #c9f45f;
                --nav-links-color: #fff;
                --hover-color: #bf0012;*/

        /*Third Palette*/
        --main-theme-color: #efdfcf;
        --secondary-theme-color: #9b2943;
        --main-font-color: #00aa51;
        --nav-links-color: #fff;
        --hover-color: #4c1427;


    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--secondary-text-font);
    }
    body {
        max-width: 1024px;
        background-color: var(--main-theme-color);
        color: var(--main-font-color);
    }

    .main-header {
        font-family: var(--main-text-font);
        font-size: 3rem;
    }
    .sub-header {
        font-family: var(--main-text-font);
    }
    .account-links {
        font-size: .8rem;
        color: var(--nav-links-color);
    }
    .account-links:hover {
        color: var(--hover-color);
    }
    .btn {
        background-color: var(--secondary-theme-color);
        border: none;
    }
    .btn:hover {
        background-color: var(--hover-color);
    }
    #login-page {
        animation: fadeIn;
        animation-duration: 2s;
    }
    #home-page {
        animation: fadeIn;
        animation-duration: 2s;
        display: none;
    }
    #login-page-header-container {
        text-align: center;
    }
    #home-page-header-container {
        text-align: center;
    }
    #mascot-img {
        /*Maybe change to dynamic size later*/
        height: 165px;
        width: 240px;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }



}
