/*.body{*/
/*    background-color: #EFDECF;*/
/*}*/
.home-button{
    font-size: 2rem;
    color: white;
    background-color: #9b2943;
}
.back-game-button{
    font-size: 2rem;
    color: white;
    background-color: #9b2943;
}
.box{
    margin: 0 auto;
    width: 45px;
    border: 1px solid black;
    text-align: center;
}

#square-container{
    width: 160px;
    height: 180px;
    margin: 0 auto;
    text-align: center;
}
#green{
    background-color: green;
    width: 70px;
    height: 70px;
    float: left;
    margin-bottom: 2px;
}
#red{
    background-color: red;
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-bottom: 2px;


}
#yellow{
    background-color: yellow;
    width: 70px;
    height: 70px;
    clear: left;
    float: left;
    margin-top: 5px;

}
#blue{
    background-color: blue;
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;

}
#green:active{
    background-color: lightgreen;
}
#red:active{
    background-color: pink;
}
#yellow:active{
    background-color: lightyellow;
}
#blue:active{
    background-color: lightblue;
}
#start:hover{
    cursor: pointer;
}
#show-rounds{

}
#game-heading{
    font-size: 100px;
    text-align: center;
    color: #00AA51;
    margin-bottom: 5rem;
}
#game-name{
    color: #00aa51;
}
#mascot{
    margin-top: 180px;
}
#main-body{
    background-color: #efdecf;
    animation: fadeIn;
}
#home-button-container{

}
.picture{
    margin-bottom: 5rem;
}