@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Roboto&display=swap');

@media screen and (min-width: 300px) and (max-width: 1024px) {
    :root {
        --main-text-font: 'Bubblegum Sans', cursive;
        --secondary-text-font: 'Roboto', sans-serif;

        /*        !*First Palette*!
                --main-theme-color: #78ae31;
                --secondary-theme-color: #e246a5;
                --btn-hover-color: #7f1bc3;
                --main-font-color: #fff;*/

        /*        !*Second Palette*!
                --main-theme-color: #007d6b;
                --secondary-theme-color: #f96171;
                --main-font-color: #c9f45f;
                --nav-links-color: #fff;
                --hover-color: #bf0012;*/

        /*Third Palette*/
        --main-theme-color: #84253e;
        --secondary-theme-color: #a6cc13;
        --main-font-color: #a6cc13;
        --nav-links-color: #fff;
        --hover-color: #cfe27d;

    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--secondary-text-font);
    }

    body {
        max-width: 1024px;
        background-color: var(--main-theme-color);
        color: var(--main-font-color);
    }

    .main-header {
        font-family: var(--main-text-font);
        font-size: 3rem;
    }

    .sub-header {
        font-family: var(--main-text-font);
    }

    .account-links {
        font-size: .7rem;
        color: var(--nav-links-color);
        background-color: var(--secondary-theme-color);
        height: fit-content;
        border-radius: .3em;
        padding: .5em .5em .5em;
        box-sizing: content-box;
    }

    .account-links:hover {
        color: var(--hover-color);
    }

    .btn {
        background-color: var(--secondary-theme-color);
        border: none;
    }

    .btn:hover {
        background-color: var(--hover-color);
    }

    .close-modal-account-creation {
        position: relative;
        top: -1000px;
        display: none;
    }

    .open-modal-account-creation {
        position: relative;
        top: -325px;
        display: block;
        animation: 0.4s slideDownCreate;
    }

    .close-modal-forgot-account{
        position: relative;
        top: -1100px;
        display: none;
    }

    .open-modal-forgot-account{
        position: relative;
        top: -650px;
        display: block;
        animation: 0.4s slideDownUsername;
    }

    .close-modal-forgot-password {
        position: relative;
        top: -1300px;
        display: none;
    }

    .open-modal-forgot-password {
        position: relative;
        top: -890px;
        display: block;
        animation: .4s slideDownPassword;
    }

    #login-page {
        animation: fadeIn;
        animation-duration: 2s;
    }

    #home-page {
        animation: fadeIn;
        animation-duration: 2s;
        display: none;
    }

    #login-page-header-container, #home-page-header-container  {
        text-align: center;
    }

    #mascot-img {
        /*Maybe change to dynamic size later*/
        height: 165px;
        width: 240px;
    }

    #account-creation-container {
        background-color: white;
        border-radius: .8rem;
        width: 90%;
        height: 22rem;
        border: .2rem solid var(--secondary-theme-color);
    }

    #forgot-account-body-container, #forgot-password-container {
        background-color: white;
        border-radius: .8rem;
        width: 90%;
        height: 16rem;
        border: .2rem solid var(--secondary-theme-color);
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slideDownCreate {
        from {
            top: -1000px;
            opacity: 0
        }
        to {
            top: -325px;
            opacity: 1
        }
    }
    @keyframes slideDownUsername {
        from {
            top: -1100px;
            opacity: 0
        }
        to {
            top: -650px;
            opacity: 1
        }
    }
    @keyframes slideDownPassword {
        from {
            top: -1300px;
            opacity: 0
        }
        to {
            top: -890px;
            opacity: 1
        }
    }

}
