.container{
    width: 320px;
    height: 320px;
    margin: 100px auto auto;
    background-color: #84253E;
}
h1{
    text-align: center;
    font-size: 50px;
}
.title{
    color: #A5CC11;
}
.row{
    height: 100px;
}
.col{
    height: 100px;
    width: 100px;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 100px;
}
.col:hover{
    background-color: green;
}
.border-b{
    border-bottom: 10px solid #A5CC11;

}
.border-r{
    border-right: 10px solid #A5CC11;
}
.winner{
    color: blue;

}

/*.zero {*/
/*    background-color: green;*/
/*}*/
/*.ab {*/
/*    background-color: red;*/
/*}*/